mailer-daemon: postmaster
postmaster: {{mail_user}}
nobody: {{mail_user}}
hostmaster: {{mail_user}}
usenet: {{mail_user}}
news: {{mail_user}}
webmaster: {{mail_user}}
www: {{mail_user}}
ftp: {{mail_user}}
abuse: {{mail_user}}